<!DOCTYPE html>
<html leng="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="/account/insertAccount" method="post">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="orange" th:text="ID" width="80"></td>
            <!--
            [클라이언트]name="title"은 [서버]에서 데이터 매개변수를 받기 위한 변수명(key)
            -->
            <td><input name="id" type="text" size="50"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="PASSWORD"></td>
            <td><input name="password" type="text" size="50"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="email"></td>
            <td><input name="email" type="text" size="50"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="회원등록">
            <td th:href="/account/getAccountList">회원등록</td>
        </tr>
    </table>
</form>


</body>
</html>