<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/img/ico/impact_logo_20200301_icon_ver2.ico" />
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <title>Title</title>
</head>
<body>
<p><h1>true Lee Page</h1></p>
<a href="/getBoardList">게시글목록</a>
<a href="/account/insertAccount">회원가입</a>
<a href="/account/getAccountList">회원목록</a>
<a href="/hello">hello!</a>
<hr>
<p th:text="${msg}"></p>
<h1>회원가입</h1>
<form method="POST" action="/account">
    <!------input태그의 id1변수이름으로 데이터를 서버에 전달하고------>
    <!------서버 model에서 받아온 id2변수이름으로 데이터를 html에 출력------>
    <input type="text" name="id1" th:value="${id2}" />
    <input type="submit" value="Click" />
</form>
</body>
</html>
